@model IEnumerable<Licoreria.Models.Producto>

@{
    ViewData["Title"] = "MacroAlcoholismo";
}

<h1>MacroAlcoholismo</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Litros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Litros)
            </td>
            <td>
                @ViewData["CATEGORIA"]
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="idproducto" value="@item.IdProducto" />
                    <label>Cantidad</label>
                    <select name="cantidades">
                        @for (int i = 0; i <= item.Stock; i++)
                        {
                            <option name="cantidad" value="@i">@i</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-info">Añadir a carrito</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
